<div class="container">
    <div class="tittle">
        <h4>Listado de productos</h4>
        <button type="button" class="button" routerLink="/add">Agregar</button>
    </div><br>
    <div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="row">Nombre</th>
                <th scope="row">Descripcion</th>
                <th scope="row">Precio</th>
                <th scope="row">Stock</th>
                <th scope="row"> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listProducts" class="table-active">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price | currency }}</td>
                <td>{{ item.stock }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" routerLink="/edit/{{ item.id }}">Modificar</button>
                    <button (click)=deleteProduct(item.id!) type="button" class="btn btn-danger btn-sm ms-2">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 *ngIf="listProducts.length == 0">No hay productos para mostrar</h5>
</div>
</div>