<div class="collapse" id="navbarToggleExternalContent">
    <div class="colorPrincipal">
      <br><h3 class="text-white fst-italic">Examen TypeScript</h3>
      <span class="text-white"> ~ Candidato: Isaac Becerra Zamora</span>
    </div>
  </div>
  <nav class="navbar navbar-dark colorPrincipal">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
